html{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    border: 0px;
    margin: 0px;
}

body{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    border: 0px;
    margin: 0px;
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(226,226,226,1) 0%, rgba(238,238,238,1) 50%, rgba(255,255,255,1) 100%);
}

.gameboard-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    height: 78%;
    min-height: 476px;
}

.game{
    visibility: hidden;
    height: 100%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.player-turn{
    align-self: center;
    font-size: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}

.play-buttons{
    display: flex;
    justify-content: space-evenly;
    width: 400px;
    min-width: 400px;
}

.game-header-bg{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: rgba(0,0,0,0.8);
    width:100%;
    height: 95%;
    align-items: center;
    margin-bottom: 6px;
}

.scoreboard{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    min-width: 400px;
    justify-content: space-evenly;
    color: white;
    margin: 10px;
}

.player1-score, .player2-score{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.play-again, .change-players{
    width: 35%;
}

.game-header{
    width: 100%;
    height: 22%;
    max-height: 180px;
    min-height: 170px;
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(116,58,213,1) 0%, rgba(213,58,157,1) 100%, rgba(255,255,255,1) 100%);
}

.sb-title{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 20px;
    color:white;
}

#game-board{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    min-height: 400px;
    min-width: 400px;
    height: 400px;
    width: 400px;
    align-self: center;
    border: 1px solid rgba(0,0,0,0.3)
}

.board-squares:hover{
    background: linear-gradient(90deg, rgba(255,255,255,0.2) 0%, rgba(116,58,213,0.2) 0%, rgba(213,58,157,0.2) 100%, rgba(255,255,255,0.2) 100%);
}

#item-1, #item-2, #item-3, #item-4, #item-5, #item-6, #item-7, #item-8, #item-9{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#item-1, #item-4{
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    color: black;
}

#item-2{
    border-bottom: 2px solid black;
}

#item-3, #item-6{
    border-left: 2px solid black;
    border-bottom: 2px solid black;
}

#item-5{
    border-bottom: 2px solid black;
}

#item-7{
    border-right: 2px solid black;
}

#item-9{
    border-left: 2px solid black;
}

.ask-players-container{
    display: flex;
    flex-direction: column;
    position:absolute;
    justify-content:center;
    align-items: center;
    width:100%;
    height:100%;
    background: rgba(0,0,0,0.7);
    animation-name: slideIn;
    animation-duration: 1s;
}

.ask-players{
    display:flex;
    flex-direction: column;
    width: 250px;
    min-width: 250px;
    height: 300px;
    min-height: 300px;
    justify-content:space-evenly;
    border: 1px solid rgba(1,1,1,0.25);
    border-radius: 15px;
    background: rgba( 0, 0, 0, 0.35 );
    box-shadow: 0 4px 16px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 1.5px );
    -webkit-backdrop-filter: blur( 1.5px );
}

h3{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    align-self: center;
    margin: 0px;
}

label{
    color:white;
}

form{
    width: 75%;
    align-self: center;
}

label, input{
    width: 95%;
    margin-top: 10px;
    margin-bottom: 10px;
    align-self: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

button{
    width:75%;
    align-self: center;
}

.game-name{
    background: -webkit-linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(116,58,213,1) 0%, rgba(213,58,157,1) 100%, rgba(255,255,255,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 52px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 50px;
}

@keyframes slideIn{
    from {top: -500px; opacity: 0}
    to {top: 0px; opacity: 1}
}

@keyframes slideOut{
    from {top: 0px; opacity: 1}
    to {top: 500px; opacity: 0}
}